# chatapi — application environment. Fill every value; this is the .env the chatapi pod mounts.
# Also mounts (shared k8s secrets): jwt-keys (private/public.pem), cc-license (license.txt), wildcard-tls
# Values REDACTED — keys show what this app requires; supply real values at deploy time.

ACKS=true
ADMIN_API_HOST=api-onprem.cometchat-cluster-2.in
ADMIN_API_PREFIX=api
AI_AGENT_BASE_URL=http://{{appId}}.ai-agent-service.cometchat-cluster-2.in
AI_AGENT_PASSWORD=
AI_AGENT_USERNAME=
ALLOWED_API_DOMAINS=cometchat-cluster-2.in
ANALYTICS_HOST=metrics-onprem.cometchat-cluster-2.in
ANALYTICS_PASSWORD=
ANALYTICS_PING_DISABLED=0
ANALYTICS_USERNAME=
ANALYTICS_VERSION=v1
APP_ENV=production
APP_KEY=
APP_REGION=onprem
APP_THROTTLE=1000000
APP_URL=cometchat-cluster-2.in
AUTHTOKEN_THROTTLE=100
CHAT_HOST=websocket-onprem.cometchat-cluster-2.in
CHAT_SECRET=
CLIENT_API_HOST=apiclient-onprem.cometchat-cluster-2.in
CLIENT_API_PREFIX=apiclient
DB_HOST=10.24.10.51
DB_HOST_CREATOR=10.24.10.51
DB_PASSWORD=
DB_USERNAME=
DEBUG_KEY=
ENABLE_IDEMPOTENCE=
ENABLE_PROCESS_LATER=
EXTENSION_BASE_URL=https://notifications-onprem.cometchat-cluster-2.in
EXTENSION_DOMAIN=cometchat-cluster-2.in
EXTENSION_PASSWORD=
EXTENSION_USERNAME=
FILESYSTEM_DRIVER=
JWT_AUD=
JWT_ISS=
JWT_TTL=5260000
JWT_WEBRTC_AUD=
JWT_WEBRTC_ISS=
KAFKA_BROKERS=
LICENSE_ENABLED=true
MAIN_DOMAIN=cometchat-cluster-2.in
METRICS_HOST=metrics-pro-onprem.cometchat-cluster-2.in
METRICS_PASSWORD=
METRICS_USERNAME=
METRICS_USE_SSL=
METRICS_VERSION=v1
REDIS_CACHE_DB_WS_PUBLISHER=
REDIS_CACHE_DB_WS_STORE=
REDIS_HOST=10.24.10.21
REDIS_HOST_WS_PUBLISHER=10.24.10.21
REDIS_HOST_WS_STORE=10.24.10.21
REDIS_PERSIST_CONN=
REDIS_PERSIST_CONN_WS_PUBLISHER=
REDIS_PERSIST_CONN_WS_STORE=
REGION_SECRET=
RULES_BASE_URL=https://rule-onprem.cometchat-cluster-2.in/v1/moderation-service
RULES_PASSWORD=
RULES_USERNAME=
SEARCH_MESSAGES_BASE_URL=https://internal-search-onprem.cometchat-cluster-2.in/v1
SECURED_AWS_ACCESS_KEY_ID=
SECURED_AWS_BUCKET=
SECURED_AWS_DEFAULT_REGION=us-east-1
SECURED_AWS_ENDPOINT=
SECURED_AWS_SECRET_ACCESS_KEY=
SECURED_S3_BASE_PATH=https://media-onprem.cometchat-cluster-2.in/uploads/
TRIGGERS_BASE_URL=https://webhooks-onprem.cometchat-cluster-2.in/v1/triggers
USE_DB_HOST_APP_SPECIFIC=0
V3_CHAT_HOST=websocket-onprem.cometchat-cluster-2.in
WEBHOOKS_BASE_URL=https://webhooks-onprem.cometchat-cluster-2.in/v1/webhooks
WEBHOOKS_PASSWORD=
WEBHOOKS_USERNAME=
WEBRTC_HOST=rtc-onprem.cometchat-cluster-2.in
WEBRTC_ISS_REGION=us
APP_DEBUG=
LOG_CHANNEL=
