# mgmtapi — application environment. Fill every value; this is the .env the mgmtapi pod mounts.
# Also mounts (shared k8s secrets): jwt-keys (private/public.pem), cc-license (license.txt), wildcard-tls
# Values REDACTED — keys show what this app requires; supply real values at deploy time.

ACCESS_CONTROL_ALLOW_ORIGIN=
ADMIN_API_HOST=api-onprem.cometchat-cluster-2.in
ADMIN_API_USE_SSL=
ANALYTICS_HOST=metrics-%s.cometchat-cluster-2.in
ANALYTICS_JWT_SECRET=
ANALYTICS_JWT_TTL=2592000
ANALYTICS_PASSWORD=
ANALYTICS_USERNAME=
ANALYTICS_USE_SSL=
ANALYTICS_VERSION=v1
APP_DEBUG=
APP_ENV=production
APP_HOST=https://app.cometchat-cluster-2.in
APP_KEY=
APP_NAME=
APP_PREFIX=cod_
APP_SYSTEM_USER_NAME=
APP_SYSTEM_USER_UID=
APP_TIMEZONE=
APP_USE_SSL=
CACHE_DRIVER=
CHAT_APP_VERSIONS=2,3
CHAT_APP_VERSION_DEFAULT=3
DB_CONNECTION=
DB_DATABASE=
DB_HOST=10.23.10.41
DB_PASSWORD=
DB_PORT=3306
DB_USERNAME=
DEPLOYMENT_MODE=onprem
DISABLE_GLOBAL_MFA=
FORCE_AUTH_CHANGED_AT=
FORCE_EMAIL_VERIFICATION=
GROUP_MAX_SIZE=
JWT_ALGO=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_TTL=10080
LOGIN_THROTTLE=10
LOG_CHANNEL=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_HOST=mailpit.cometchat.svc.cluster.local
MAIL_MAILER=
MAIL_PASSWORD=
MAIL_PORT=1025
MAIL_USERNAME=
METRICS_BASE_URL=https://metrics-pro-%s.cometchat-cluster-2.in/v1/metrics
METRICS_PASSWORD=
METRICS_USERNAME=
MINUTES_DIFF=
ONPREM_EXTENSIONS_BASE_URL=https://extensions-%s.cometchat-cluster-2.in
ONPREM_MAX_APPS=
ONPREM_OWNER_EMAIL=
ONPREM_REGION=onprem
OTP_TTL_IN_SECONDS=600
PRESIGNED_URL_MODE_DEPLOYED_AT=1765890920
QUEUE_CONNECTION=
REGISTER_THROTTLE=10
RESET_PASSWORD_THROTTLE=2
RULES_BASE_URL=https://rule-onprem.cometchat-cluster-2.in/v1/moderation
RULES_PASSWORD=
RULES_USERNAME=
SIGNUP_ALLOWED_EMAIL_DOMAINS=cometchat.com
VCB_BASE_URL=https://internal-vcb-onprem.cometchat-cluster-2.in/v1
VCB_PASSWORD=
VCB_USERNAME=
WEBHOOK_INTERNAL_SKIP_HOSTS=hooks.zapier.com

ONPREM_REGION_SECRET=
DEBUG_KEY=
